* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Darumadrop One", serif;
    background-size: cover;
    background-image: url(/assets/old-wood-textures_74190-4210.jpg);
    background-position: center;
}

section {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    overflow-y: auto;
}

section main {
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}

section main img {
    width: 100px;
    border-radius: 50%;
    aspect-ratio: 1;
    box-shadow: 0 0 5px 1px rgb(169, 94, 19);
}

section main h2 {
    font-weight: 600;
    color: rgb(255, 215, 0);
    text-shadow: 0 0 1px transparent, 0 5px 10px rgb(0, 0, 0.8);
}

section main a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1.5px solid white;
    padding: 10px;
    color: rgb(169, 94, 19);
    text-decoration: none;
    gap: 20px;
}

section main a:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
}

section main p {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    text-align: center;
    gap: 5px;
}

section footer {
    background-color: rgb(169, 94, 19);
    padding: 3rem;
    color: rgb(255, 215, 0);
    padding: 10px;
    text-align: center;
    clear: both;
}

section .footer a {
    text-decoration: none;
    color: rgb(255, 215, 0);
    font-weight: bold;
}

section .footer a:hover {
    color: white;
}

section .footer li {
    list-style: none;
    display: inline;
    margin: 0.5rem;
}

section .footer li:hover {
    transform: scaleX(1.5);
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    border-radius: 50%;
    padding: 15px;
    z-index: 9999;
}

.back-to-top:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

.ads-jagoanhosting {
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.ads-jagoanhosting a {
    padding: 15px;
}

/* Gaya untuk perangkat mobile */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}

/* Gaya untuk tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 20px;
    }
}

/* Gaya untuk desktop */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .container {
        padding: 30px;
    }
}