*html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'France', sans-serif;
    background-color: #ffffffff;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    height: auto;
}

.navbar .navbar-brand {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(255, 215, 0);
    font-size: 20px;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: red;
    text-shadow: 0 5px 20px rgb(255, 215, 0);
}

.navbar .nav-logo {
    width: 50px;
}

.nav {
    width: auto;
    margin: 100px auto 0 auto;
    text-align: center;
}

/* Navigation */

.nav {
    font-family: Georgia, Arial, sans-serif;
    font-size: 14px;
}

.nav-items {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 25px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active,
.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    display: block;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
    color: rgb(255, 215, 0);
    font-weight: bold;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}

.dropdown {
    position: relative;
}

.dropdown .nav-link {
    padding-right: 15px;
    height: 17px;
    line-height: 17px;
}

.dropdown .nav-link::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    border: 5px solid transparent;
    border-top-color: rgb(255, 215, 0);
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    width: 200px;
    margin-left: -100px;
    background: rgb(169, 94, 19);
    border-radius: 3px;
    line-height: 1.46667;
    margin-top: -5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    opacity: 0;
    -webkit-transform: translate(0, 0) scale(.85);
    transform: translate(0, 0)scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.submenu::after,
.submenu::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    height: 0;
}

.submenu::after {
    border-bottom-color: rgb(169, 94, 0);
}

.submenu::before {
    margin-left: -13px;
    border: 13px solid transparent;
    border-bottom-color: rgb(169, 94, 0);
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.submenu-items {
    list-style: none;
    padding: 10px 0;
}

.submenu-item {
    display: block;
    text-align: left;
}

.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    color: rgb(255, 215, 0);
    padding: 10px 20px;
}

.submenu-link:hover {
    text-decoration: underline;
}

.submenu-seperator {
    height: 0;
    margin: 12px 10px;
    border-top: 1px solid rgb(169, 94, 19);
}

.show-submenu .submenu {
    opacity: 1;
    -webkit-transform: translate(0, 25px) scale(1);
    transform: translate(0, 25px) scale(1);
    pointer-events: auto;
}

marquee {
    color: rgb(255, 215, 0);
    width: auto;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

#date-time {
    color: rgb(255, 215, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

.register-button, .login-button {
    display: inline;
    width: auto;
    margin-right: 5px;
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    text-decoration: none;
    box-shadow: 0 5px 20px rgb(255, 215, 0);
}

.register-button:hover, .login-button:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    transition: ease 0.5s;
}

.navbar #social-media p {
    left: 50px;
    margin-bottom: 5px;
    margin-left: 15px;
    color: rgb(255, 215, 0);
}

.navbar #social-media a, i {
    margin-bottom: 5px;
    text-decoration: none;
    display: flex;
    position: relative;
    color: wheat;
    border-radius: 20px;
}

.navbar #social-media a, i:hover {
    color: red;
}

h1 {
    font-family: "France", cursive;
}

#text-style {
    color: rgb(169, 94, 19);
    text-shadow: 0 0 25px rgb(255, 215, 0);
    font-size: 80px;
}

.text-style2 {
    font-size: 60px;
    color: rgb(169, 94, 19);
    text-shadow: 0 0 25px rgb(255, 215, 0);
}

#promotion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 0 25px rgb(255, 215, 0);
    margin-top: 50px;
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.btn-pamed {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-pamed:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 0 25px rgb(255, 215, 0);
}

.pamed-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.pamed-btn:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.pamed-btn:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    border: none;
    padding: 10px;
    cursor: pointer;
}

#form-payment {
    display: block;
    margin: 10px 0 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
    box-shadow: 0 0 50px rgb(255, 215, 0);
}

#form-payment label {
    display: block;
    margin-top: 20px;
}

#form-payment label span {
    font-weight: bold;
    color: rgb(169, 94, 19);
}

#form-payment input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(169, 94, 19);
    border-radius: 4px;
}

#form-payment input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    border: 1px solid rgb(169, 94, 19);
    border-radius: 4px;
}


#form-payment button {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

#form-payment button:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: 50px;
    background-color: green;
    color: rgb(255, 215, 0);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgb(255, 215, 0);
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    border-radius: 50%;
    padding: 15px;
    z-index: 9999;
}

.back-to-top:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

footer {
    background-color: rgb(169, 94, 19);
    color: rgb(169, 94, 19);
    padding: 1em;
    text-align: center;
    clear: both;
    box-shadow: 0 0 50px rgb(169, 94, 19);
}

.footer-section {
    background-color: rgb(169, 94, 19);
    padding: 3% 1% 1% 1%;
}

.footer-section #pamed-footer {
    width: 95px;
}

.footer-section h4 {
    margin-top: 10px;
}

.footer-section h5 {
    font-size: 50px;
}

.footer-section p {
    font-size: 15px;
}

.fa-ul {
    margin-left: 1.65em;
}

.footer-section ul li a {
    text-decoration: none;
    color: rgb(169, 94, 19);
}

.footer-section i {
    background-color: rgb(169, 94, 19);
    color: rgb(169, 94, 19);
    size: 60px;
}

.footer-section i:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(169, 94, 19);
}

.payment-method h5 {
    padding: 5px;
    font-size: 35px;
}

iframe {
    width: 300px;
    height: 250px;
    border: 0;
}

small .Copyright {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: rgb(169, 94, 19);
}

small .Copyright:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(169, 94, 19);
}

/* Responsive */
@media only screen and (max-width: 800px) {
    nav ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    nav ul li ul li {
        margin-bottom: 10px;
    }
}

main {
    flex-direction: column;
}

section {
    margin-bottom: 10px;
}

marquee {
    color: rgb(255, 215, 0);
    width: auto;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

@media only screen and (max-width: 370px) {
    nav ul li ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    nav ul li ul li {
        margin-bottom: 10px;
    }

    marquee {
        color: rgb(255, 215, 0);
        width: auto;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    main {
        padding: 1em;
    }

    section {
        padding: 0.5em;
    }
}