*html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'France', sans-serif;
    background-color: #ffffffff;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Navbar styling */
.navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(169, 94, 19);
    padding: 10px 20px;
    position: relative;
    z-index: 10;
}

.navbar .navbar-brand {
    margin-left: 10px;
    text-decoration: none;
    color: rgb(255, 215, 0);
    font-size: 20px;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: red;
    text-shadow: 0 5px 20px rgb(255, 215, 0);
}

.navbar .nav-logo {
    width: 35px;
    height: 35px;
}

nav {
    width: auto;
    margin: 100px auto 0 auto;
    text-align: center;
}

#navbar-links {
    background-color: rgb(169, 94, 19);
}

/* Navbar links - desktop view */
.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar-links ul li {
    padding: 0 15px;
    position: relative;
}

/* Link styling */
.navbar-links ul li a {
    color: rgb(255, 215, 0);
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    display: block;
    transition: background-color 0.3s ease;
    /* Smooth hover effect */
}

/* Hover effect for links */
.navbar-links ul li a:hover {
    background-color: black;
    border-radius: 4px;
}

/* Dropdown menu styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(169, 94, 19);
    min-width: 160px;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    /*Hiddenbydefault*/
    transition: opacity 0.3s ease;
}

.dropdown-content a {
    color: rgb(169, 94, 19);
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    /* Make the dropdown visible */
}

/* Hamburger icon styling */
.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 15;
    color: rgb(255, 215, 0);
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 215, 0);
    border-radius: 10px;
}

marquee {
    color: rgb(255, 215, 0);
    width: auto;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

#date-time {
    color: rgb(255, 215, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

.register-button, .login-button {
    display: inline;
    width: auto;
    margin-right: 5px;
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    text-decoration: none;
    box-shadow: 0 5px 20px rgb(255, 215, 0);
}

.register-button:hover, .login-button:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    transition: ease 0.5s;
}

.navbar #social-media p {
    left: 50px;
    margin-bottom: 5px;
    margin-left: 15px;
    color: rgb(255, 215, 0);
}

.navbar #social-media a i {
    margin-bottom: 5px;
    text-decoration: none;
    display: flex;
    position: relative;
    color: wheat;
    border-radius: 20px;
    text-shadow: 0 5px 20px rgb(255, 215, 0);
}

.navbar #social-media a i:hover {
    color: red;
}

h1 {
    font-family: "France", cursive;
}

#text-style {
    color: rgb(169, 94, 19);
    text-shadow: 0 0 25px rgb(255, 215, 0);
    font-size: 80px;
}

.text-style2 {
    font-size: 60px;
    color: rgb(169, 94, 19);
    text-shadow: 0 0 25px rgb(255, 215, 0);
}

#promotion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 0 25px rgb(255, 215, 0);
    margin-top: 50px;
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.pamed-category {
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 5px 20px rgb(169, 94, 19);
    padding: 16px;
    text-align: center;
    background-color: rgb(255, 215, 0);
}

.pamed-category {
    box-shadow: 0 5px 20px rgb(169, 94, 19);
    padding: 16px;
    text-align: center;
    background-color: rgb(255, 215, 0);
}

.btn-pamed {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-pamed:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 0 25px rgb(255, 215, 0);
}

.pamed-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.pamed-btn:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    border: none;
    padding: 10px;
    cursor: pointer;
}

#login {
    width: 350px;
    padding: 30px;
    background-color: rgb(169, 94, 19);
    border-radius: 8px;
    box-shadow: 0 0px 25px rgb(255, 215, 0);
    margin-bottom: 50px;
}

#login h2 {
    text-align: center;
    color: rgb(255, 215, 0);
    text-shadow: 0 5px 10px rgb(174, 252, 245);
    margin-bottom: 15px;
}

#login input {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 215, 0);
    border-radius: 4px;
    outline: none;
}

.form-group label {
    color: rgb(255, 215, 0);
}

#forgotPassword label {
    color: rgb(255, 215, 0);
    margin-bottom: 15px;
}

#forgotPassword a {
    text-decoration: none;
    cursor: pointer;
    transition: ease 0.35s;
    color: rgb(255, 215, 0);
}

#forgotPassword a:hover {
    color: rgb(174, 252, 245);
    text-shadow: 0 0 20px rgb(255, 215, 0);
}

#login button {
    width: 100%;
    padding: 10px;
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    box-shadow: 0 0 25px rgb(255, 215, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.35s ease-in-out;
}

#login button:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

#registrationForm label {
    color: rgb(255, 215, 0);
    margin-top: 25px;
}

#registrationForm a {
    text-decoration: none;
    color: rgb(255, 215, 0);
}

#promotion {
    box-shadow: 0 0 50px rgb(255, 215, 0);
}

.pamed-btn:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.float {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: 50px;
    background-color: green;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgb(255, 215, 0);
    z-index: 100;
    cursor: pointer;
}

.float:hover {
    background-color: rgb(169, 94, 19);
}

.float i {
    color: rgb(255, 215, 0);
    text-shadow: 0 5px 20px rgb(169, 94, 19);
}

.my-float {
    margin-top: 16px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    border-radius: 50%;
    padding: 15px;
    z-index: 9999;
}

.back-to-top:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

footer {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    padding: 1em;
    text-align: center;
    clear: both;
    box-shadow: 0 0 50px rgb(255, 215, 0);
}

.footer-section {
    background-color: rgb(169, 94, 19);
    padding: 3% 1% 1% 1%;
}

.footer-section #pamed-footer {
    width: 95px;
}

.footer-section h4 {
    margin-top: 10px;
}

.footer-section h5 {
    font-size: 50px;
}

.footer-section p {
    font-size: 15px;
}

.fa-ul {
    margin-left: 1.65em;
}

.footer-section ul li a {
    text-decoration: none;
    color: rgb(255, 215, 0);
}

.footer-section i {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    size: 60px;
}

.footer-section i:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

.payment-method h5 {
    padding: 5px;
    font-size: 35px;
}

iframe {
    width: 300px;
    height: 250px;
    border: 0;
}

small .Copyright {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 215, 0);
}

small .Copyright:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

#ads-jagoanhosting {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#ads-jagoanhosting a {
    padding: 15px;
}

/* Responsive */
@media only screen and (max-width: 800px) {
    .navbar-links {
        display: none;
        /* Hide by default on mobile */
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: fixed;
        /* Cover the entire screen */
        top: 0;
        left: 0;
        height: 100vh;
        /* Cover full screen height */
        justify-content: center;
        align-items: center;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar-links ul li {
        padding: 10px 0;
    }

    .dropdown-content {
        position: static;
        /* Align dropdown centrally */
        background-color: transparent;
        text-align: center;
        padding: 0;
        opacity: 1;
        /* Make dropdown visible */
    }

    .toggle-button {
        display: flex;
        /* Show hamburger icon */
    }

    .navbar-links.active {
        display: flex;
        /* Show menu when hamburger is clicked */
    }

    main {
        flex-direction: column;
    }

    section {
        margin-bottom: 10px;
    }

    marquee {
        color: rgb(255, 215, 0);
        width: auto;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
}

@media only screen and (max-width: 370px) {
    .navbar-links {
        display: flex;
        /* Show navbar links on desktop */
    }

    .toggle-button {
        display: none;
        /* Hide hamburger icon on desktop */
    }

    marquee {
        color: rgb(255, 215, 0);
        width: auto;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    main {
        padding: 1em;
    }

    section {
        padding: 0.5em;
    }
}