*html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'France', sans-serif;
    background-color: #ffffffff;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(169, 94, 19);
    color: #00000000;
    padding: 1em;
    text-align: center;
    box-shadow: 0 0 50px rgb(255, 215, 0);
}

header .navbar {
    overflow: hidden;
}

header .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(255, 215, 0);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

header .navbar .subnav {
    float: left;
    overflow: hidden;
}

header .navbar .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(255, 215, 0);
    padding: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

header .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19)
}

header .navbar .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(255, 215, 0);
    width: 100%;
    z-index: 1;
}

header .navbar .subnav-content a {
    float: left;
    color: rgb(169, 94, 19);
    text-decoration: none;
}

header .navbar .subnav-content a:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
}

header .navbar .subnav:hover .subnav-content {
    display: block;
}

.pamed-category {
    text-align: center;
    box-shadow: 0 0 50px rgb(169, 94, 19);
}

nav #pamed-logo {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

#pamed-brand {
    color: rgb(255, 215, 0);
    text-decoration: none;
    font-size: 35px;
}

#pamed-brand:hover {
    color: rgb(169, 94, 19)
}

#location-pamed {
    font-size: large;
    color: rgb(255, 215, 0);
    margin-top: 20px;
    margin-bottom: 30px;
}

.icon-media {
    width: 17px;
    height: 17px;
    color: #000000;
}

.icon-media:hover {
    color: rgb(255, 215, 0);
}

h1 {
    font-family: "France", cursive;
}

#text-style {
    color: rgb(169, 94, 19);
    text-shadow: 0 0 25px rgb(255, 215, 0);
    font-size: 80px;
}

.text-style2 {
    font-size: 60px;
    color: rgb(169, 94, 19);
    text-shadow: 0 0 25px rgb(255, 215, 0);
}

#promotion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-shadow: 0 0 25px rgb(255, 215, 0);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.btn-pamed {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-pamed:hover {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.pamed-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.pamed-btn:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.wrapper {
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 20px rgb(255, 215, 0);
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
}

.wrapper form {
    margin: 40px 0;
}

form .field {
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        margin-left: 0px;
    }

    20%, 80% {
        margin-left: -12px;
    }

    40%, 60% {
        margin-left: 12px;
    }
}

form h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

form .field .input-area {
    height: 50px;
    width: 100%;
    position: relative;
}

form input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: rgb(169, 94, 19);
    border-radius: 5px;
    border: 1px solid rgb(255, 215, 0);
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
    border-color: rgb(169, 94, 19);
}

form .field.shake input,
form .field.error input {
    border-color: #dc3545;
}

.field .input-area i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-area .icon {
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
}

.input-area .error-icon {
    right: 15px;
    color: #dc3545;
}

form input:focus~.icon,
form .field.valid .icon {
    color: rgb(169, 94, 19);
}

form .field.shake input:focus~.icon,
form .field.error input:focus~.icon {
    color: #bfbfbf;
}

form input::placeholder {
    color: #bfbfbf;
    font-size: 17px;
}

form .field .error-txt {
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
}

form .field .error {
    display: none;
}

form .field.shake .error,
form .field.error .error {
    display: block;
}

form .pass-txt {
    text-align: left;
    margin-top: -10px;
}

.wrapper a {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: none;
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

form input[type="submit"] {
    height: 50px;
    margin-top: 30px;
    color: rgb(169, 94, 19);
    padding: 0;
    border: none;
    background: rgb(255, 215, 0);
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
}

#promotion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 0 25px rgb(255, 215, 0);
    margin-top: 50px;
    margin-bottom: 50px;
}

.whatsapp-button {
    position: fixed;
    display: inline-block;
    align-items: end;
    background-color: green;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    bottom: 100px;
    right: 50px;
}

.whatsapp-button:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    border-radius: 50%;
    padding: 15px;
    z-index: 9999;
}

.back-to-top:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

#clock {
    font-size: 30px;
    font-family: 'France', sans-serif;
    text-align: center;
    margin-top: 10px;
    color: rgb(255, 215, 0);
}

footer {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    padding: 1em;
    text-align: center;
    clear: both;
    box-shadow: 0 0 50px rgb(255, 215, 0);
}

.footer-section {
    background-color: rgb(169, 94, 19);
    padding: 3% 1% 1% 1%;
}

.footer-section #pamed-footer {
    width: 95px;
}

.footer-section h4 {
    margin-top: 10px;
}

.footer-section h5 {
    font-size: 50px;
}

.footer-section p {
    font-size: 15px;
}

.fa-ul {
    margin-left: 1.65em;
}

.footer-section ul li a {
    text-decoration: none;
    color: rgb(255, 215, 0);
}

.footer-section i {
    background-color: rgb(169, 94, 19);
    color: rgb(255, 215, 0);
    size: 60px;
}

.footer-section i:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

.payment-method h5 {
    padding: 5px;
    font-size: 35px;
}

iframe {
    width: 300px;
    height: 250px;
    border: 0;
}

small .Copyright {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 215, 0);
}

small .Copyright:hover {
    background-color: rgb(255, 215, 0);
    color: rgb(169, 94, 19);
}

/* Gaya untuk perangkat mobile */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}

/* Gaya untuk tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 20px;
    }
}

/* Gaya untuk desktop */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .container {
        padding: 30px;
    }
}